html {
  font-size: 16px;
  background-color: var(--white-color, #FFFFFF);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

button {
  cursor: pointer;
}